<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseFolderPath" value="C:\Users\ashena\Dropbox\Germany\Resume" />
    <add key="ResumePath" value="Lebenslauf-Mojtaba Ashena-V6.docx" />
    <add key="CoverLetterPath" value="Anschreiben-Mojtaba Ashena-V7.docx" />
    <add key="CetrficatesPath" value="Zeugnisse-Mojtaba Ashena-V6.docx" />
    <add key="OutputFilePath" value="C:\Users\ashena\Dropbox\Germany\Resume\Applications.xlsx" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.5147.0" newVersion="1.50.5147.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>